<div class="page">

  <div class="edit-card">

    <h2>Edit Task</h2>

    <form (ngSubmit)="update()">

      <div class="form-group">
        <label>Title</label>
        <input type="text" [(ngModel)]="task.title" name="title">
      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea rows="4" [(ngModel)]="task.description" name="description"></textarea>
      </div>
       <div class="form-group">
  <label>Status</label>

  <select
    [(ngModel)]="task.isCompleted"
    name="isCompleted"
    class="status-select"
    [ngClass]="task.isCompleted ? 'status-done' : 'status-pending'"
  >

    <option [ngValue]="false">Pending</option>
    <option [ngValue]="true">Completed</option>

  </select>

</div>

      <div class="actions">
        <button class="btn-edit"  type="submit">Update</button>
        <button class="btn-delete" routerLink="/tasks">Cancel</button>
      </div>

    </form>

  </div>

</div>